body {
    background-color: #7ff09705;
}

#canvas {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#input {
    text-align: center;
    float: center;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    border: 2px dashed #918de4;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#by {
    opacity: 0.1;
    text-align: center;
}

input {
    text-align: center;
    border: 1px dashed #4F92E5;
    border-bottom: 4px double #4F92E5;
    border-radius: 5px;
    outline: none;
}
